@if (!string.IsNullOrWhiteSpace(Text))
{
    <div class="alert alert-danger">
            <span data-name="error-value">
                @Text
            </span>
    </div>
}

@code {
    [Parameter]
    public string? Text { get; set; }
}
